
h3 {
	display: block;
	text-align: center;
}

fieldset {
	display: block;
	width: 480px;
	margin: 0px auto;
	padding: 16px;
	border: 1px solid #333643;
	border-radius: 4px;
	box-sizing: border-box;
}

fieldset div {
	display: block;
	margin: 0px;
	padding: 0px;
}

fieldset p {
	display: block;
	margin: 0px 16px;
	padding: 0px;
	text-align: center;
}

fieldset p:last-child {
	margin-bottom: 0px;
}

fieldset + fieldset {
	margin-top: 32px;
}

fieldset label[for] {
	display: inline-block;
	width: auto;
	height: 32px;
	line-height: 30px;
	margin: 0px;
	padding: 0px;
	font-family: 'cantarell';
	font-size: 16px;
	font-weight: normal;
	text-align: left;
	text-overflow: ellipsis;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
	border: 1px solid transparent;
	box-sizing: border-box;
	overflow: hidden;
}

fieldset input[type="checkbox"] {
	display: inline-block;
	width: 32px;
	height: 32px;
	line-height: 30px;
	margin: 0px;
	padding: 0px 8px;
	color: var(--input-text);
	background: var(--input-background);
	font-family: 'cantarell';
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	vertical-align: top;
	border: 1px solid var(--input-border);
	border-radius: 4px;
	box-sizing: border-box;
	transition: 250ms all ease-out;
	appearance: none;
	-webkit-appearance: none;
	outline: none;
	cursor: pointer;
}

fieldset input[type="checkbox"]:checked {
	color: var(--button-active-text);
	background: var(--button-active-background);
	border-color: var(--button-active-border);
}

fieldset input[type="checkbox"][disabled],
fieldset input[type="checkbox"][disabled]:checked {
	color: var(--input-disabled-text) !important;
	background: var(--input-disabled-background) !important;
	border-color: var(--input-disabled-border) !important;
	transition: 250ms all ease-out;
	cursor: not-allowed;
}

fieldset input[type="checkbox"]:checked:before,
fieldset input[type="checkbox"][disabled]:checked:before {
	display: block;
	content: 'X';
	font-family: 'vera-mono';
	font-size: 20px;
	font-weight: bold;
	line-height: 32px;
	color: var(--input-text);
	text-align: center;
	vertical-align: middle;
}

fieldset input[type="date"],
fieldset input[type="time"] {
	display: inline-block;
	width: auto;
	height: 32px;
	line-height: 30px;
	margin: 0px;
	padding: 0px 8px;
	color: var(--input-text);
	background: var(--input-background);
	font-family: 'cantarell';
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	border: 1px solid var(--input-border);
	border-radius: 4px;
	box-sizing: border-box;
	transition: 250ms all ease-out;
	appearance: none;
	-webkit-appearance: none;
	outline: none;
	cursor: text;
}

fieldset input[type="date"]:focus,
fieldset input[type="date"]:hover,
fieldset input[type="time"]:focus,
fieldset input[type="time"]:hover {
	color: var(--input-focus-text);
	background: var(--input-focus-background);
	border-color: var(--input-focus-border);
	transition: 250ms all ease-out;
}

fieldset input[type="date"]:invalid,
fieldset input[type="time"]:invalid {
	color: var(--input-invalid-text);
	background: var(--input-invalid-background);
	border-color: var(--input-invalid-border);
	transition: 250ms all ease-out;
}

fieldset input[type="date"]:invalid::placeholder,
fieldset input[type="time"]:invalid::placeholder {
	color: var(--input-invalid-text);
}

fieldset input[type="date"][disabled],
fieldset input[type="date"][disabled]:focus,
fieldset input[type="date"][disabled]:hover,
fieldset input[type="date"][disabled]:invalid,
fieldset input[type="time"][disabled],
fieldset input[type="time"][disabled]:focus,
fieldset input[type="time"][disabled]:hover,
fieldset input[type="time"][disabled]:invalid {
	color: var(--input-disabled-text) !important;
	background: var(--input-disabled-background) !important;
	border-color: var(--input-disabled-border) !important;
	transition: 250ms all ease-out;
	user-select: none;
	cursor: not-allowed;
}

footer input[type="text"],
fieldset input[type="text"] {
	display: inline-block;
	width: auto;
	height: 32px;
	line-height: 30px;
	margin: 0px;
	padding: 0px 8px;
	color: var(--input-text);
	background: var(--input-background);
	font-family: 'cantarell';
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	border: 1px solid var(--input-border);
	border-radius: 4px;
	box-sizing: border-box;
	transition: 250ms all ease-out;
	outline: none;
	cursor: text;
}

footer input[type="text"]:focus,
footer input[type="text"]:hover,
fieldset input[type="text"]:focus,
fieldset input[type="text"]:hover {
	color: var(--input-focus-text);
	background: var(--input-focus-background);
	border-color: var(--input-focus-border);
	transition: 250ms all ease-out;
}

footer input[type="text"]::selection,
fieldset input[type="text"]::selection {
	color: var(--input-select-text);
	background: var(--input-select-background);
	border-color: var(--input-select-border);
	transition: 250ms all ease-out;
}

footer input[type="text"]:invalid,
fieldset input[type="text"]:invalid {
	color: var(--input-invalid-text);
	background: var(--input-invalid-background);
	border-color: var(--input-invalid-border);
	transition: 250ms all ease-out;
}

footer input[type="text"]:invalid::placeholder,
fieldset input[type="text"]:invalid::placeholder {
	color: var(--input-invalid-text);
}

footer input[type="text"][disabled],
footer input[type="text"][disabled]:focus,
footer input[type="text"][disabled]:hover,
footer input[type="text"][disabled]:invalid,
fieldset input[type="text"][disabled],
fieldset input[type="text"][disabled]:focus,
fieldset input[type="text"][disabled]:hover,
fieldset input[type="text"][disabled]:invalid {
	color: var(--input-disabled-text) !important;
	background: var(--input-disabled-background) !important;
	border-color: var(--input-disabled-border) !important;
	transition: 250ms all ease-out;
	user-select: none;
	cursor: not-allowed;
}

fieldset select {
	display: inline-block;
	width: auto;
	height: 32px;
	line-height: 30px;
	margin: 0px;
	padding: 0px 8px;
	color: var(--input-text);
	background: var(--input-background);
	font-family: 'cantarell';
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	border: 1px solid var(--input-border);
	border-radius: 4px;
	box-sizing: border-box;
	transition: 250ms all ease-out;
	appearance: none;
	-webkit-appearance: none;
	outline: none;
	cursor: pointer;
}

fieldset select:focus,
fieldset select:hover {
	/* color: var(--input-focus-text); */
	/* background: var(--input-focus-background); */
	border-color: var(--input-focus-border);
	transition: 250ms all ease-out;
}

fieldset select[disabled],
fieldset select[disabled]:focus,
fieldset select[disabled]:hover,
fieldset select[disabled]:invalid {
	color: var(--input-disabled-text) !important;
	background: var(--input-disabled-background) !important;
	border-color: var(--input-disabled-border) !important;
	transition: 250ms all ease-out;
	user-select: none;
	cursor: not-allowed;
}

fieldset select option {
	margin: 0px;
	padding: 0px;
	font-family: 'vera-mono';
}

fieldset select option:focus,
fieldset select option:hover {
	color: var(--input-focus-text);
	background: var(--input-focus-background);
	border-color: var(--input-focus-border);
}

fieldset textarea {
	display: inline-block;
	width: auto;
	height: 128px;
	line-height: 32px;
	margin: 0px;
	padding: 0px 8px;
	color: var(--input-text);
	background: var(--input-background);
	font-family: 'cantarell';
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	border: 1px solid var(--input-border);
	border-radius: 4px;
	box-sizing: border-box;
	transition: 250ms all ease-out;
	outline: none;
	cursor: text;
}

fieldset textarea:focus,
fieldset textarea:hover {
	color: var(--input-focus-text);
	background: var(--input-focus-background);
	border-color: var(--input-focus-border);
	transition: 250ms all ease-out;
}

fieldset textarea::selection {
	color: var(--input-select-text);
	background: var(--input-select-background);
	border-color: var(--input-select-border);
	transition: 250ms all ease-out;
}

fieldset textarea:invalid {
	color: var(--input-invalid-text);
	background: var(--input-invalid-background);
	border-color: var(--input-invalid-border);
	transition: 250ms all ease-out;
}

fieldset textarea:invalid::placeholder {
	color: var(--input-invalid-text);
}

fieldset textarea[disabled],
fieldset textarea[disabled]:focus,
fieldset textarea[disabled]:hover,
fieldset textarea[disabled]:invalid {
	color: var(--input-disabled-text) !important;
	background: var(--input-disabled-background) !important;
	border-color: var(--input-disabled-border) !important;
	transition: 250ms all ease-out;
	user-select: none;
	cursor: not-allowed;
}


fieldset button,
header button,
footer button,
aside button {
	display: inline-block;
	width: auto;
	height: 32px;
	line-height: 30px;
	margin: 0px;
	padding: 0px 8px;
	color: var(--button-text);
	background: var(--button-background);
	font-family: 'cantarell';
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	border: 1px solid var(--button-border);
	border-radius: 4px;
	box-sizing: border-box;
	transition: 250ms all ease-out;
	cursor: default;
	outline: none;
}

fieldset button:focus,
fieldset button:hover,
header button:focus,
header button:hover,
footer button:focus,
footer button:hover,
aside button:focus,
aside button:hover {
	color: var(--button-focus-text);
	background: var(--button-focus-background);
	border-color: var(--button-focus-border);
	transition: 250ms all ease-out;
	cursor: pointer;
}

fieldset button:active,
header button:active,
footer button:active,
aside button:active {
	color: var(--button-active-text);
	background: var(--button-active-background);
	border-color: var(--button-active-border);
	transition: 250ms all ease-out;
	cursor: pointer;
}

header button:first-of-type,
footer button:first-of-type,
aside button:first-of-type {
	color: var(--button-text);
	background: var(--button-background);
	border-color: var(--button-border);
	transition: 250ms all ease-out;
}

header button:first-of-type:focus,
header button:first-of-type:hover,
footer button:first-of-type:focus,
footer button:first-of-type:hover,
aside button:first-of-type:focus,
aside button:first-of-type:hover {
	color: var(--button-focus-text);
	background: var(--button-focus-background);
	border-color: var(--button-focus-border);
	transition: 250ms all ease-out;
	cursor: pointer;
}

header button:first-of-type:active,
footer button:first-of-type:active,
aside button:first-of-type:active {
	color: var(--button-active-text);
	background: var(--button-active-background);
	border-color: var(--button-active-border);
	transition: 250ms all ease-out;
}

footer button:last-of-type,
aside button:last-of-type {
	color: var(--button-primary-text);
	background: var(--button-primary-background);
	border-color: var(--button-primary-border);
	transition: 250ms all ease-out;
}

footer button:last-of-type:focus,
footer button:last-of-type:hover,
aside button:last-of-type:focus,
aside button:last-of-type:hover {
	color: var(--button-primary-focus-text);
	background: var(--button-primary-focus-background);
	border-color: var(--button-primary-focus-border);
	transition: 250ms all ease-out;
}

footer button:last-of-type:active,
aside button:last-of-type:active {
	color: var(--button-primary-active-text);
	background: var(--button-primary-active-background);
	border-color: var(--button-primary-active-border);
	transition: 250ms all ease-out;
}

footer button:last-of-type,
aside button:last-of-type {
	position: relative;
	right: 0px;
}

header button[disabled],
footer button[disabled],
aside button[disabled],
header button[disabled]:focus,
footer button[disabled]:focus,
aside button[disabled]:focus,
header button[disabled]:hover
footer button[disabled]:hover
aside button[disabled]:hover,
header button[disabled]:first-of-type,
footer button[disabled]:first-of-type,
aside button[disabled]:first-of-type,
header button[disabled]:first-of-type:focus,
footer button[disabled]:first-of-type:focus,
aside button[disabled]:first-of-type:focus,
header button[disabled]:first-of-type:hover
footer button[disabled]:first-of-type:hover
aside button[disabled]:first-of-type:hover {
	color: var(--button-disabled-text) !important;
	background: var(--button-disabled-background) !important;
	border-color: var(--button-disabled-border) !important;
	transition: 250ms all ease-out;
	user-select: none;
	cursor: not-allowed;
}

