
main {
	position: fixed;
	width: auto;
	height: auto;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	font-family: 'cantarell';
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	color: #d3dae3;
	text-align: left;
	background: #383c4a;
	border: 0px solid transparent;
	border-radius: 0px;
	-webkit-user-select: auto;
	-webkit-app-region: no-drag;
}

main > section {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background: #383c4a;
	transition: 250ms opacity ease-out;
	opacity: 0;
	z-index: -1;
}

main > section > header {
	transition: 250ms transform ease-out;
	transform: translate(0%, -100%);
}

main > section > footer {
	transition: 250ms transform ease-out;
	transform: translate(0%, 100%);
}

main > section.active {
	transition: 250ms all ease-out;
	opacity: 1;
	z-index: 0;
}

main > section.active > header {
	transition: 250ms transform ease-out;
	transform: translate(0%, 0%);
}

main > section.active > footer {
	transition: 250ms transform ease-out;
	transform: translate(0%, 0%);
}

main > section.inactive {
	transition: 0ms all ease-out;
	opacity: 0;
	z-index: -1;
}

main > section.inactive > header {
	transition: 250ms transform ease-out;
	transform: translate(0%, -100%);
}

main > section.inactive > footer {
	transition: 250ms transform ease-out;
	transform: translate(0%, 100%);
}



main > section > header {
	display: flex;
	position: fixed;
	justify-content: space-between;
	width: auto;
	height: auto;
	margin: 0px;
	padding: 8px;
	top: 0px;
	right: 0px;
	bottom: auto;
	left: 0px;
	text-align: center;
	vertical-align: middle;
	background: #2f343f;
	border: 0px solid transparent;
	border-bottom: 2px solid #262a33;
	border-radius: 0px;
	user-select: none;
	-webkit-user-select: none;
	-webkit-app-region: drag;
}

main > section > header b {
	display: inline-block;
	width: auto;
	height: 32px;
	margin: 0px;
	padding: 0px;
	text-align: center;
	line-height: 32px;
	color: #d3dae3;
	font-family: 'cantarell';
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
}

main > section > header ul {
	display: inline-block;
	margin: 0px;
	padding: 0px;
	list-style: none;
	-webkit-app-region: no-drag;
}

main > section > header ul li {
	display: inline-block;
	margin: 0px;
	padding: 0px 8px;
	height: 32px;
	line-height: 30px;
	color: #a8b2bf;
	font-family: 'cantarell';
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	background: #414857;
	border-top: 1px solid #2b2e39;
	border-right: 1px solid transparent;
	border-bottom: 1px solid #2b2e39;
	border-left: 1px solid transparent;
	border-radius: 0px;
	box-sizing: border-box;
	transition: 250ms all ease-out;
	cursor: pointer;
}

main > section > header ul li:hover {
	color: #acb6c3;
	background: #4f5665;
	border-color: #393e4a;
}

main > section > header ul li:first-of-type {
	border-top: 1px solid #2b2e39;
	border-right: 1px solid transparent;
	border-bottom: 1px solid #2b2e39;
	border-left: 1px solid #2b2e39;
	border-radius: 4px 0px 0px 4px;
}

main > section > header ul li:last-of-type {
	border-top: 1px solid #2b2e39;
	border-right: 1px solid #2b2e39;
	border-bottom: 1px solid #2b2e39;
	border-left: 1px solid transparent;
	border-radius: 0px 4px 4px 0px;
}

main > section > header ul li:first-of-type:last-of-type {
	border-radius: 4px 4px 4px 4px;
}

main > section > header ul li.active {
	color: #ffffff;
	background: #5294e2;
	border-color: #2f343f;
}



main > section > section {
	position: absolute;
	box-sizing: border-box;
	top: 50px;
	right: 0px;
	bottom: 50px;
	left: 0px;
	overflow: hidden auto;
}

main > section > aside {
	position: absolute;
	box-sizing: border-box;
	width: 20vw;
	height: auto;
	margin: 0px;
	padding: 8px;
	top: 50px;
	right: auto;
	bottom: 50px;
	left: 0px;
	text-align: center;
	vertical-align: top;
	background: #2f343f;
	border: 0px solid transparent;
	border-right: 2px solid #262a33;
	border-radius: 0px;
	user-select: none;
	overflow: hidden auto;
	-webkit-user-select: none;
	-webkit-app-region: drag;
}

main > section > aside + section {
	left: 20vw;
}

main > section article,
main > aside article {
	display: block;
	width: 720px;
	margin: 32px auto;
	padding: 8px;
	border-top: 2px solid #262a33;
	border-right: 16px solid #262a33;
	border-bottom: 2px solid #262a33;
	border-left: 16px solid #262a33;
	background: #383c4a;
	box-sizing: border-box;
	transition: border-color 250ms ease-out;
}

main > section article h3,
main > aside article h3 {
	display: block;
	margin: 0px 0px 8px 0px;
	padding: 0px;
	font-size: 24px;
	line-height: 32px;
	text-align: left;
	text-overflow: ellipsis;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
}



main > section > footer {
	display: flex;
	position: fixed;
	justify-content: space-between;
	width: auto;
	height: auto;
	margin: 0px;
	padding: 8px;
	top: auto;
	right: 0px;
	bottom: 0px;
	left: 0px;
	text-align: center;
	vertical-align: middle;
	background: #2f343f;
	border: 0px solid transparent;
	border-top: 2px solid #262a33;
	border-radius: 0px;
	user-select: none;
	-webkit-user-select: none;
}

main > section > footer button {
	display: inline-block;
	width: auto;
	margin: 0px;
}



@media screen and (max-width: 720px) {

	main > section article {
		width: auto;
	}

}

