
main > section#calendar table {
	width: 100%;
	table-layout: fixed;
	height: calc(100vh - 100px);
	border-spacing: 0px;
}

main > section#calendar table tr th {
	width: calc(100% / 7);
	padding: 0px;
	font-size: 16px;
	line-height: 32px;
	text-align: center;
	text-overflow: ellipsis;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
	border: 1px solid transparent;
	border-radius: 0px;
}

main > section#calendar table tr td {
	width: calc(100% / 7);
	padding: 0px;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	text-overflow: ellipsis;
	vertical-align: top;
	white-space: nowrap;
	overflow: hidden;
	border: 1px solid #262a33;
}

main > section#calendar table tr td:hover {
	background: rgba(255,255,255,0.1);
}

main > section#calendar table tr:first-of-type td {
	border-top: 2px solid #262a33;
}
main > section#calendar table tr:last-of-type td {
	border-bottom: 0px solid transparent;
}

main > section#calendar table tr td:first-of-type {
	border-left: 0px solid transparent;
}

main > section#calendar table tr td:last-of-type {
	border-right: 0px solid transparent;
}

main > section#calendar table tr td > button {
	display: block;
	width: 100%;
	margin: 0px;
	padding: 0px;
	color: #ffffff;
	background: transparent;
	border: 1px solid transparent;
	appearance: none;
	cursor: pointer;
}

main > section#calendar table tr td > button:only-child {
	height: 100%;
	vertical-align: middle;
}

main > section#calendar table tr td > ul {
	display: block;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

main > section#calendar table tr td > ul li button {
	display: block;
	width: 100%;
	margin: 0px;
	padding: 0px 4px;
	text-align: left;
	background: transparent;
	border: 1px solid transparent;
	appearance: none;
	color: #ffffff;
}

main > section#calendar table tr td > ul li button span {
	display: inline-block;
	margin: 0px 4px 0px 0px;
	padding: 0px;
	font-family: 'vera-mono';
	font-size: 12px;
	line-height: 16px;
	vertical-align: middle;
}

main > section#calendar table tr td > ul li button[data-type="company"]   { color: #ffffff; background-color: #e2a052; }
main > section#calendar table tr td > ul li button[data-type="work"]      { color: #ffffff; background-color: #5294e2; }
main > section#calendar table tr td > ul li button[data-type="family"]    { color: #ffffff; background-color: #e252dc; }
main > section#calendar table tr td > ul li button[data-type="household"] { color: #ffffff; background-color: #52e258; }
main > section#calendar table tr td > ul li button[data-type="other"]     { color: #ffffff; background-color: #262a33; }

