
main > section#calendar > aside {
	width: 256px;
}

main > section#calendar > aside + section {
	left: 256px;
}

main > section#calendar table {
	width: 100%;
	table-layout: fixed;
	height: calc(100vh - 100px);
	border-spacing: 0px;
}

main > section#calendar table thead tr {
	height: 48px;
}

main > section#calendar table tr th {
	width: calc(100% / 7);
	padding: 0px;
	font-size: 16px;
	line-height: 32px;
	text-align: center;
	text-overflow: ellipsis;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
	border: 1px solid transparent;
	border-radius: 0px;
}

main > section#calendar table tr td {
	width: calc(100% / 7);
	padding: 0px;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	text-overflow: ellipsis;
	vertical-align: top;
	white-space: nowrap;
	overflow: hidden;
	border: 1px solid #262a33;
}

main > section#calendar table tr td:hover {
	background: rgba(255,255,255,0.1);
	border-color: #d3dae3;
}

main > section#calendar table tr:first-of-type td {
	border-top: 2px solid #262a33;
}
main > section#calendar table tr:last-of-type td {
	border-bottom: 0px solid transparent;
}

main > section#calendar table tr td:first-of-type {
	border-left: 0px solid transparent;
}

main > section#calendar table tr td:last-of-type {
	border-right: 0px solid transparent;
}

main > section#calendar table tr td.dragover,
main > section#calendar table tr td.today {
	background: rgba(255,255,255,0.1);
	border-color: #d3dae3;
}

main > section#calendar table tr td:empty {
	line-height: 100%;
	text-align: center;
	vertical-align: middle;
}

main > section#calendar table tr td.today:empty:before {
	display: inline-block;
	content: "(Today)" "\A" "\A" attr(data-date) "\A" "\A" "\A";
	white-space: pre-wrap;
	text-align: center;
}

main > section#calendar table tr td:empty:before {
	display: inline-block;
	content: attr(data-date);
	text-align: center;
}

/*
 * ARTICLE
 */

main > section#calendar article h3 span[data-complexity] {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 0px 8px 0px 0px;
	padding: 0px;
	font-size: 16px;
	text-align: center;
	vertical-align: top;
	border: 0px solid transparent;
	border-radius: 32px;
	background: #2f343f;
	box-sizing: border-box;
}

main > section#calendar article div:nth-of-type(1) {
	display: block;
	margin: 0px 0px 8px 0px;
	padding: 0px;
	text-align: right;
}

main > section#calendar article div:nth-of-type(1) b {
	display: inline-block;
	width: calc(100% - 70px);
	font-family: 'cantarell';
	font-size: 16px;
	font-weight: bold;
	text-align: left;
}

main > section#calendar aside article {
	display: block;
	position: relative;
	width: auto;
	border-top: 2px solid #262a33;
	border-right: 16px solid #262a33;
	border-bottom: 2px solid #262a33;
	border-left: 16px solid #262a33;
	cursor: grab;
}

main > section#calendar aside article[draggable] {
	-webkit-user-drag: element;
	-webkit-user-select: none;
}

main > section#calendar aside article[data-time]:after {
	display: inline-block;
	position: absolute;
	content: attr(data-time);
	width: auto;
	height: 32px;
	margin: 0px;
	padding: 0px;
	line-height: 32px;
	top: 8px;
	right: 0px;
	bottom: auto;
	left: auto;
	border-radius: 4px 0px 0px 4px;
	color: #ffffff;
	background: inherit;
}

main > section#calendar table tr td article {
	display: block;
	position: relative;
	width: auto;
	margin: 0px;
	padding: 4px 4px 4px 4px;
	border-top: 2px solid #262a33;
	border-right: 2px solid #262a33;
	border-bottom: 2px solid #262a33;
	border-left: 8px solid #262a33;
	transition: all 250ms ease-out;
	cursor: grab;
}

main > section#calendar table tr td article[draggable] {
	-webkit-user-drag: element;
	-webkit-user-select: none;
}

main > section#calendar table tr td article:after {
	display: inline-block;
	position: absolute;
	content: attr(data-time);
	width: auto;
	height: 16px;
	margin: 0px;
	padding: 0px;
	line-height: 16px;
	top: 4px;
	right: 0px;
	bottom: auto;
	left: auto;
	border-radius: 4px 0px 0px 4px;
	color: #ffffff;
	background: inherit;
}

main > section#calendar table tr td article h3 {
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	line-height: 16px;
}

main > section#calendar table tr td article h3 span[data-complexity] {
	width: 16px;
	height: 16px;
	margin: 0px 4px 0px 0px;
	padding: 0px;
	font-size: 12px;
	border-radius: 16px;
}

main > section#calendar table tr td article div:nth-of-type(1) {
	display: none;
}

